ipywidgets==8.1.7
threadpoolctl==3.6.0
pyparsing==3.2.3
pydantic==2.12.3
jedi==0.19.2
nvidia-cuda-cupti-cu11==11.8.87
seaborn==0.13.2
typing_extensions==4.15.0
joblib==1.5.0
filelock==3.18.0
Pygments==2.19.1
pyarrow==21.0.0
nvidia-cublas-cu12==12.6.4.1
nvidia-nvtx-cu11==11.8.86
matplotlib-inline==0.1.7
requests==2.32.5
pillow==11.2.1
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cuda-cupti-cu12==12.6.80
certifi==2025.10.5
wcwidth==0.2.13
wandb==0.22.2
ipython==9.2.0
optuna-integration==4.5.0
contourpy==1.3.2
nvidia-cusparselt-cu12==0.6.3
nvidia-nvjitlink-cu12==12.6.85
plotly==6.0.1
smmap==5.0.2
nvidia-cusolver-cu11==11.4.1.48
narwhals==1.37.1
jupyterlab_widgets==3.0.15
gitdb==4.0.12
pip==25.2
asttokens==3.0.0
typing-inspection==0.4.2
SQLAlchemy==2.0.44
tzdata==2025.2
greenlet==3.2.4
pydantic_core==2.41.4
nvidia-nvtx-cu12==12.6.77
widgetsnbextension==4.0.14
comm==0.2.2
nvidia-cusparse-cu11==11.7.5.86
prompt_toolkit==3.0.51
nvidia-curand-cu11==10.3.0.86
Jinja2==3.1.6
sympy==1.14.0
pyzmq==26.4.0
urllib3==2.5.0
scipy==1.15.3
GitPython==3.1.45
nvidia-cufile-cu12==1.11.1.6
tqdm==4.67.1
executing==2.2.0
nvidia-cudnn-cu12==9.5.1.17
nvidia-cufft-cu12==11.3.0.4
optuna==4.5.0
tornado==6.4.2
ptyprocess==0.7.0
setuptools==80.0.1
triton==3.3.0
click==8.3.0
nvidia-cublas-cu11==11.11.3.6
nvidia-cudnn-cu11==9.1.0.70
parso==0.8.4
kiwisolver==1.4.8
torchsummary==1.5.1
psutil==7.0.0
pytz==2025.2
sentry-sdk==2.42.1
networkx==3.4.2
packaging==25.0
idna==3.11
fonttools==4.57.0
debugpy==1.8.14
pandas==2.2.3
nvidia-cuda-nvrtc-cu11==11.8.89
cycler==0.12.1
torch==2.7.0+cu118
nvidia-cuda-nvrtc-cu12==12.6.77
numpy==2.2.5
nvidia-cusolver-cu12==11.7.1.2
einops==0.8.1
pexpect==4.9.0
nvidia-cusparse-cu12==12.5.4.2
decorator==5.2.1
MarkupSafe==3.0.2
nvidia-cufft-cu11==10.9.0.58
nvidia-cuda-runtime-cu12==12.6.77
jupyter_client==8.6.3
ipykernel==6.29.5
annotated-types==0.7.0
torchaudio==2.7.0+cu118
torchvision==0.22.0+cu118
nvidia-curand-cu12==10.3.7.77
python-dateutil==2.9.0.post0
mpmath==1.3.0
colorlog==6.10.1
six==1.17.0
fsspec==2025.3.2
Mako==1.3.10
scikit-learn==1.6.1
platformdirs==4.3.7
charset-normalizer==3.4.4
alembic==1.17.0
traitlets==5.14.3
ipython_pygments_lexers==1.1.1
nvidia-nccl-cu11==2.21.5
stack-data==0.6.3
matplotlib==3.10.1
PyYAML==6.0.3
nvidia-nccl-cu12==2.26.2
nest-asyncio==1.6.0
protobuf==6.33.0
pure_eval==0.2.3
jupyter_core==5.7.2
